/* src/styles/comicBookStyles.css */

.form-container {
  width: 60%;
  margin: 80px auto;
  margin-bottom: 80px; 
  padding: 20px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 8px;
}

h1 {
  text-align: center;
}

p {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.form-group div {
  display: inline-block;
  margin-right: 10px;
}

button {
  display: block;
  padding-top: 10px;
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #444;
}

/* Add styles to position the new genre input and button */
.new-genre-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.new-genre-container input {
  margin-right: 10px;
  width: auto; /* Adjust width if necessary */
}
